#include "resource.h"

APPICONS    ICON "tomato.ico"
IDI_ICON_M  ICON "tomato.ico"
IDI_ICON_SM ICON "tomato16.ico"

IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM  "&Load settings",ID_FILE_LOAD
        MENUITEM  "&Save settings", ID_FILE_SAVE
        MENUITEM  "E&xit", ID_FILE_EXIT
    END

    POPUP "&Timer"
    BEGIN
        MENUITEM "New Pomodoro", ID_TIMER_POMODORO
        MENUITEM "New ShortBreak", ID_TIMER_REST
    END

    POPUP "&Stuff"
    BEGIN
        MENUITEM "&Always on top", ID_ALWAYS_TOP
    END
END

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "noComp"
      VALUE "FileDescription", "Very simple Pomodoro timer"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "tamata"
      VALUE "LegalCopyright", "Eug"
      VALUE "OriginalFilename", "tamata.exe"
      VALUE "ProductName", "Tamata"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END