#include <windows.h>
#include "resource.h"

APPICONS    ICON "tomato.ico"
IDI_ICON_M  ICON "tomato.ico"
IDI_ICON_SM ICON "tomato16.ico"

IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM  "&Load settings",ID_FILE_LOAD
        MENUITEM  "&Save settings", ID_FILE_SAVE
        MENUITEM  "E&xit", ID_FILE_EXIT
    END

    POPUP "&Timer"
    BEGIN
        MENUITEM "Pomodoro", ID_TIMER_POMODORO
        MENUITEM "Break", ID_TIMER_REST
    END

    POPUP "&Stuff"
    BEGIN
        MENUITEM "&Always on top", ID_ALWAYS_TOP
        MENUITEM "Font dialog", IDD_FONT_DLG
        MENUITEM "Buttons settings", IDD_BTN_DLG
    END
END

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "noComp"
      VALUE "FileDescription", "Very simple Pomodoro timer"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "tamata"
      VALUE "LegalCopyright", "Eug"
      VALUE "OriginalFilename", "tamata.exe"
      VALUE "ProductName", "Tamata"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END


IDD_FONT_DLG DIALOG 0, 0, 157, 71
STYLE WS_POPUP|WS_CAPTION|DS_MODALFRAME
CAPTION "Font settings"
FONT 9, "Arial"
BEGIN
    PUSHBUTTON      "Cancel", ID_FONT_CANCEL, 99, 52, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", ID_FONT_OK, 46, 52, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Font size", 500, 10, 10, 32, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "Button font size", 501, 10, 29, 53, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_EDIT_FONT, 115, 5, 40, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        ID_BUTTON_FONT, 115, 25, 40, 14, ES_AUTOHSCROLL, WS_EX_LEFT
END